registry=https://registry.npmmirror.com/

node-linker=hoisted
auto-install-peers=true
strict-peer-dependencies=false

public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*typescript*
public-hoist-pattern[]=*react*
public-hoist-pattern[]=*@nestjs/*
public-hoist-pattern[]=*drizzle*
public-hoist-pattern[]=*tailwindcss*
